@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="old-english text-center">@ViewData["Title"]</h1>
<p class="text-center">
    If the provided email is registered in our system an email containing a reset link will be sent to the inbox.
</p>