@{
    ViewData["Title"] = "About";
}
<div class="position-relative my-4" style="height: 20vh">
    <div class="m-auto mt-5 w-fit center-vh">
        <img alt="Lootefix" height="150" src="/img/lootefix.png"/>
    </div>
</div>
<div class="bg-dark1 p-3">
    <div class="w-50 m-auto bible-text">
        <h1 class="old-english text-center">Introduction</h1>
        <p>Long ago, when dragons roamed the earth and magic was at the fingertips of the bravest adventurers, the art of dungeon delving was in its infancy. Groups of brave souls would venture into dark and dangerous places, searching for treasure and glory. But as they explored, they faced a problem. How could they keep track of all the loot they were collecting? They tried using pen and paper, but that was slow and prone to errors. They tried using spreadsheets, but those were cumbersome and difficult to share. It seemed that no matter what they tried, managing their group's inventory was a hassle.</p>
        <br/>
        <p>But then, a hero emerged. A hero who understood the struggles of the dungeon delver and knew how to fix them. This hero was Lootefix, a revolutionary group inventory management system specifically designed for the Dungeons and Dragons community. With Lootefix, players could easily keep track of shared items, trade them with each other, and never have to worry about lost or forgotten loot again.</p>
        <br/>
        <p>With Lootefix, players could focus on what mattered most: the adventure. They could delve deeper into dark dungeons, fight fierce monsters, and claim even greater treasure, all without worrying about inventory management. And with Lootefix's advanced features, even the most experienced dungeon master could enhance their game and provide a better experience for their players.</p>
        <br/>
        <p>So if you're a dungeon delver, don't settle for sub-optimal solutions. Embrace the power of Lootefix and take your game to the next level. Join the ranks of heroes who have used Lootefix to conquer the most challenging dungeons and claim the greatest loot. The adventure awaits, and Lootefix is here to help you on your journey.</p>
        <h1 class="old-english text-center mt-5">What is Lootefix?</h1>
        <p>An easy to use shared inventory management system has been long awaited by the DnD Community</p>
        <p>Lootefix is a inventory system that has been designed from the ground up to focus on you - the players!</p>
        <p>Here are the top features that Lootefix can offer:</p>
        <ul>
            <li>smart fund management</li>
            <li>shared inventory that can be used by multiple players</li>
            <li>uncomplicated invitation of other players</li>
            <li>a quick and simple user interface that lets you focus on the game.</li>
        </ul>
        <br/>
        <br/>
        <div class="text-center text-muted">
            <partial name="_VersionPartial"/>
        </div>
    </div>
</div>